<!DOCTYPE html>
<html xmiln:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約登録完了</title>

<style>
	body{
		text-align: center;
		margin-top: 100px;
	}
	
	.button-area{
		margin-top: 30px;
	}
	
	a{
		display: inline-block;
		padding: 10px 25px;
		margin: 10px;
		border: 1px splid #333;
		border-radius: 5px;
		text-decoration:none;
		color: black;
	}
     </style>
 </head>
     <h1>予約登録完了</h1>
	 
	 <p>予約の登録が完了しました</p>
	 
	 <div class="button-area">
		<a th:href="@{/reservation/new}">
			新しい予約を登録する
		</a>
		
		<a th:href="@{/customer/search}">
			顧客検索へ
		</a>
	 </div>
</body>
</html>