<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.CustomerMapper">

<!-- 顧客登録 -->
<insert id="insert">
  INSERT INTO customer
    (name,phone_number,email)
   VALUES
   (#{name},#{phoneNumber},#{email})
   </insert>

<!-- 顧客検索 -->   
<select id="search"

 resultType="com.example.demo.entity.Customer">

 SELECT id,name,phone_number AS phonenumber,email FROM customer
 
  <where>
            <if test="id != null">
                AND id = #{id}
            </if>

            <if test="name != null and name.trim() != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>

            <if test="phoneNumber != null and phoneNumber.trim() != ''">
                AND phone_number = #{phoneNumber}
            </if>

            <if test="email != null and email.trim() != ''">
                AND email = #{email}
            </if>
        </where>
        
          ORDER BY id
    </select>
        
        
 <!-- 顧客削除 -->
 <delete id="deleteById">
   DELETE FROM customer
   WHERE id = #{id}
 </delete>
 
</mapper>